body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1, h2{
  margin: 0;
}

.input-section{
  margin: 20px 0;
}

input{
  width: 100px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* input::after-focus{
  border: 1px solid  yellow;
} */

.buttons{
  margin: 20px 0;
}

button{
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#earningBtn{
  background-color: #4CAF50;
  color:white;
}

#expenseBtn{
  background-color: #f44336;
  color: white;
}

.transactions{
  margin: top 20px;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}